html {
  margin: 50px;
}

.text {
  font-family: "nitti", monospace;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  white-space: pre-line; /* Allow for word wrapping */
  overflow-wrap: break-word; /* Wrap long words */
}

button.crossed-out {
  text-decoration: line-through;
}


.images {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 3rem; /* Increased gap between images */
  justify-content: center;
  align-items: center;
  margin: 5rem;
  margin-top: 7rem;
}

.images img {
  max-width: 100%; /* Ensure images do not exceed their container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any default inline styles */
}

.images img:hover{
  opacity: 0.80;
}


