.column-container {
  height: 4000px;
  display: flex;
}

.column-left {
  height: 1500px;
  width: 50%;
  position: fixed;
  left: 0;
  top: 0;
}

.background-left {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white, transparent);
  z-index: 3;
}

.column-left--inner {
  height: 4000px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px; 

  @media screen and (max-width: 768px) {
    margin: 10px;
  } 
}

.column-right {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 50%;
}

.background-right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white, transparent);
  z-index: 3;
}

.column-right--inner {
  height: 4000px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(calc(-100% + 100vh)) translateZ(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;

  @media screen and (max-width: 768px) {
    margin: 10px;
  }  
}

.column-left--inner img,
.column-right--inner img {
  max-width: 100%; 
  height: auto; 
}

@media screen and (max-width: 480px) {

  .column-container{
    white-space: nowrap;
    
  }
  .background-right {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white, transparent);
    z-index: 3;
  }

  .background-left {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
    z-index: 3;
  }

  .column-left {
    height: 50%;
    width: 4000px;
    position: fixed;
    left: 0;
    top: 0;
    
  }

  .column-right {
    height: 50vh;
    width: 4000px;
    position: fixed;
    left: 0;
    top: 50vh;
  }
  .column-left--inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
  }
  .column-right--inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    transform: translateX(calc(-100% + 100vw)) translateY(0) translateZ(0);
  }
}



