html {
  margin: 100px;
}

.text {
  font-family: "nitti", monospace;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  white-space: pre-line; /* Allow for word wrapping */
  overflow-wrap: break-word; /* Wrap long words */
  position: relative; /* Ensure positioning context */
  z-index: 10; /* Set a higher z-index */
}

.text a {
  color: inherit; /* Inherit color from parent */
}

.images {
  position: fixed; /* Set position to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Set a lower z-index */
}

.images img {
  width: 110%;
  height: 100%;
  object-fit: cover;
}
