html {
  margin: 100px;
}

.text {
  font-family: "nitti", monospace;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  white-space: pre-line; /* Allow for word wrapping */
  overflow-wrap: break-word; /* Wrap long words */
}

.text a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}

.image-alt-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff; /* White text color */
  padding: 6px 10px; /* Adjust padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  font-family: "nitti", monospace; /* Use the specified font */
  font-weight: 400;
  font-size: 14px; /* Smaller font size */
  display: none;
  z-index: 999; /* Ensure it's above other elements */
}


.images .poster1 img {
  max-width: 30%; 
  position: absolute; 
  left: 60%;
  top: 10%;
}

.images .poster2 img {
  max-width: 25%;
  position: absolute;
  left: 40%;
  top: 20%;
}

.images .poster3 img {
  max-width: 20%;
  position: absolute;
  left: 25%;
  top: 50%;
}

.images .poster4 img {
  max-width: 15%;
  position: absolute;
  left: 50%;
  top: 70%;
}

.images .poster5 img {
  max-width: 25%;
  position: absolute;
  left: 70%;
  top: 45%;
}

.images .poster6 img {
  max-width: 20%;
  position: absolute;
  left: 60%;
  top: 90%;
}

.images .poster7 img {
  max-width: 13%;
  position: absolute;
  left: 60%;
  top: 33%;
}
